<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{LayoutWeb/dashboardLayout.html}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="section row justify-content-center align-items-center" style="margin-bottom:10px;">
            <div style="color: while; text-align: center;margin-bottom:10px;">
                <a class="text-primary" style=" font-size:1.8rem;"><strong>Chi tiết hóa đơn của quý khách!</strong></a>
            </div>
            <div class="row col-6 ">
                <main class="container">
                    <div class="card">
                        <form enctype="multipart/form-data" action="/hoadonxong" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tên người dùng</span>
                                </div>
                                <input type="text" id="id" name="username" readonly value="Nguyễn Hoàng Thanh"
                                    class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> Địa chỉ:</span>
                                </div>
                                <input type="text" id="id" name="address" readonly value="Bắc Vàng, Thới Long, Ô Môn, Cần Thơ"
                                    class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Số điện thoại</span>
                                </div>
                                <input type="text" class="form-control" value="0939553913"
                                    placeholder="Nhập tên sản phẩm" name="sanpham_name">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ngày lặp hóa đơn</span>
                                </div>
                                <input type="text" value="19/10/2022" class="form-control" placeholder="Nhập
                                số lượng" name="gia">
                            </div>
                            <table id="table" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Số thứ tự</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Giá sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Thanh tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                             1
                                        </td>
                                        <td>
                                            Sườn thăn Meat Deli
                                        </td>
                                        <td>
                                            73.465 vnđ
                                        </td>
                                       
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            146930
                                        </td>
                                    </tr>
                        
                                    <tr>
                                        <td scolspan="2">Tổng tiền:</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            14693042
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Xong
                                </button>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>